<h1>Service <%= @service.name %></h1>

<h2>All the info </h2>

<h4> - The price is $<%= @service.price %></h4>
<h4> - Is active: <%= @service.is_active %></h4>

<%= link_to "Back to Services", services_path %>

